<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>WeatherCody</title>
    <link rel="stylesheet" href="/css/product2.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">  </head>
  <body>
    <!-- 민수꺼 -->
    <div class="weatherWidget"> 
        <div  id="ww_ef7067e45137d" v='1.3' loc='id' a='{"t":"responsive","lang":"ko","sl_lpl":1,"ids":["wl7405"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","cl_odd":"#00000000"}'>Weather for the Following Location: <a href="https://2ua.org/de/kor/gimhae/karte/" id="ww_ef7067e45137d_u" target="_blank">Gimhae karte</a></div><script async src="https://app1.weatherwidget.org/js/?id=ww_ef7067e45137d"></script>
    </div>
    <!-- 여기까지 -->
    <nav>
        <img class="logo" src="/image/logo.png.png">
        <form class="search-bar" role="search">
            <input class="search-bar2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">Search</button>
        </form>
        <div class = "rank"> 랭킹
            <span class="chart-change up">▲</span>
        </div>
    </nav>

    <div class="navnav">
        <ul class="menu">
            <li class="nav-item">
                <a class="nav-link" href="#">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">마이페이지</a>
            </li>
            <li class="nav-link active">
                <a class="nav-link" aria-current="page" href="#">남성</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">여성</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">고객센터</a>
            </li>
        </ul>
    </div>
    <main>
        <aside>
            <div class="side_box">CATEGORT
                <ul class="brand">
                    <li class="bra-item">
                        <a class="bra-link" href="#">무신사</a>
                    </li>
                    <li class="bra-item">
                        <a class="bra-link" href="#">기타</a>
                    </li>
                </ul>
            </div>
        </aside>
        <section>
            <div>
                <div class="product-box">BEST상품
                    <div class="product">
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>

                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                        <div style="height: 70%; width: 70%">
                            <img src="/image/First.jpg" style="height: 70%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
  </body>
</html>
