<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherCody</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/help.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/637650a57e.js" crossorigin="anonymous"></script>
    <script th:src="@{/JS/help.js}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<!-- 민수꺼 -->
<div class="weatherWidget">
    <div  id="ww_ef7067e45137d" v='1.3' loc='id' a='{"t":"responsive","lang":"ko","sl_lpl":1,"ids":["wl7405"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","cl_odd":"#00000000"}'>Weather for the Following Location: <a href="https://2ua.org/de/kor/gimhae/karte/" id="ww_ef7067e45137d_u" target="_blank">Gimhae karte</a></div><script async src="https://app1.weatherwidget.org/js/?id=ww_ef7067e45137d"></script>
</div>
<!-- 여기까지 -->
<nav>
    <button type="button" style="background-color: transparent; border: none;" onclick="location.href='/main'">
    <img class="logo" href="/main" src="/image/logo.png.png">
    </button>
    <form class="search-bar" role="search">
        <input class="search-bar2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">Search</button>
    </form>
    <div class = "rank"> 랭킹
        <span class="chart-change up">▲</span>
    </div>
</nav>

<div class="navnav">
    <ul class="menu">
        <th:block th:if="${memberInfo != null}">
            <li class="nav-item">
                <a class="title" href="/logout"> 로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${memberInfo != null}" href="/userInfo">마이페이지</a>
            </li>
        </th:block>
        <th:block th:if="${memberInfo == null}">
            <li class="nav-item">
                <a class="title" href="/login"> 로그인</a>
            </li>
        </th:block>
        <li class="nav-item">
            <a class="nav-link" href="/recently/view" >최근에 본 상품</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/productList?gender=man">남성</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/productList?gender=women">여성</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help">고객센터</a>
        </li>
    </ul>
</div>
<main>
<!--    <aside>-->
<!--        <div class="side_box">CATEGORT-->
<!--            <ul class="brand">-->
<!--                <li class="bra-item">-->
<!--                    <a class="bra-link" href="/product/man">무신사</a>-->
<!--                </li>-->
<!--                <li class="bra-item">-->
<!--                    <a class="bra-link" href="/product/man/etc">기타</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </aside>-->
    <section>
            <div id="chat-container">
                <header>Weather Cody 고객센터</header>
                <div id="chat-messages">
                    <div class="chat ch1">
                        <div class="icon"><i class="fa-solid fa-user"></i></div>
                        <div class="textbox">안녕하세요. 고객님 Weather Cody입니다. 날씨 운영정보부터 추천 Cody까지  채팅으로 도와 드릴게요! </div>
                    </div>
                    <div class="chat ch2">
                        <div class="icon"><i class="fa-solid fa-user"></i></div>
                        <div class="textbox">상품에 대해서 문의 하고 싶어서 연락드립니다.</div>
                    </div>
                </div>
                <form id="chatForm">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" autocomplete="off" size="30" id="message" placeholder="메시지를 입력하세요">
                        </div>
                       <div class="col-4" style="padding-left: 52px;">
                           <input type="button" value="보내기" onclick="sendMessage()"style="background-color: #FEE500;border: #FEE500; height: 100%">
                       </div>
                    </div>

                </form>
            </div>
    </section>
</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>